.styled-judgements {
  font-weight: bold;
  color: #656565;
}

.difficulty-basic {
  background-color: #34a853 !important;
  font-weight: 700;
  color: #fff !important;
}

.difficulty-advanced {
  background-color: #ff9900 !important;
  font-weight: 700;
  color: #fff !important;
}

.difficulty-expert {
  background-color: #cc0000 !important;
  font-weight: 700;
  color: #fff !important;
}

.difficulty-master {
  background-color: #674ea7 !important;
  font-weight: 700;
  color: #fff !important;
}

.difficulty-remaster {
  background-color: #8e7cc3 !important;
  font-weight: 700;
  color: #fff !important;
}
