
thead > tr > td {
  font-weight: bold;
}

.grade-s {
  background-color: #bbb !important;
  color:  #000!important;
}

.grade-ss {
  background-color: goldenrod !important;
  color:  #000!important;
}

.grade-sss {
  background-color: rgb(201, 13, 13) !important;
  color: #fff !important;
}
